
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap.css"></li>
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
    <link href="css/login-style.css" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="css/fontawesome-all.css" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- /google fonts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
   

</head>
<body>

{{> header }}

<div class="container">

    {{{body}}}

</div>


{{> footer }}

 <script type="text/javascript" src="css/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
 <script>
$(document).ready(function(){
   
   $('#filter').on('click', function() {
        var optionVal = $('#test').val();
        var backVal = $('#back').val();
        $.post("http://localhost:3000/dashboard",
            {
                optionV : optionVal,
                backV : backVal
            },
        function(data, status){
            $('#tbody').empty();
            var row = " ";
            for(var i = 1; i <= data.length; i++) {
                row += "<tr>";
               
                    row += '<td>' + i + '</td>'
                        +'<td>' + data[i-1].collegeID + '</td>'
                        +'<td>' + data[i-1].course + '</td>'
                        +'<td>' + data[i-1].first_name + '</td>'
                        +'<td>' + data[i-1].last_name + '</td>'
                        +'<td>' + data[i-1].gender + '</td>'
                        +'<td>' + data[i-1].email + '</td>'
                        +'<td>' + data[i-1].phone + '</td>'
                        +'<td>' + data[i-1].tenthMarks + '</td>'
                        +'<td>' + data[i-1].twelvthMarks + '</td>'
                        +'<td>' + data[i-1].btechMarks + '</td>'
                        +'<td>' + data[i-1].backlogs + '</td>';
            
                row += "</tr>";
            }
            $('#tbody').append(row);
        });
    });

    $('#export').click(function(){
        var table = $('#mytable');
        var data = [];
    table.find('tr').each(function (rowIndex, r) {
        var cols = [];
        $(this).find('th,td').each(function (colIndex, c) {
            cols.push(c.textContent);
        });
        data.push(cols);
    });

             $.post("http://localhost:3000/exportFile",
                {
                    fetchedData: data
                },
                function(data,status){
                    window.open('/exportFile');
                });
        
    });
});
 </script>
 
 

</body>
</html>