<br/>
<div class="index-page">
	<p>Welcome to the CRC Department</p>
	<div class="width-buttons row">
	<div class="col-lg-6">
		<a href="/login"><button class="btn btn-danger btn-lg">Login</button></a>
	</div>
	<div class="col-lg-6">
		<a href="/signup"><button class="btn btn-info btn-lg">Signup</button></a>
	</div>
	</div>	
</div>	
	